@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #1924FA;
    --color-secondary: white;
    --color-accent: #3840D1;
}

*, *::before, *:after {
    box-sizing: border-box;
    scrollbar-width: thin;
}

html {
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}
body {
    height: 100%;
    font-family: "poppins";
    font-weight: bold;
    background-color: var(--color-primary);
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 3px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    height: 100vh;
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

.nav-bar img {
    width: 50px;
    height: 50px;
}
.nav-bar {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto;
    width: 100%;
    padding: 5px;
}

.nav-bar a:hover {
    color: gold;
}

.nav-bar:nth-child(n+1) {
    column-gap: 5%;
}

.nav-menu, .nav-back, .nav-link, .modal-open {
    color: black;
    border: .1rem solid black;
    margin: 0;
    padding: 0.4rem;
}

.nav-menu, .nav-back, .nav-link {
    display: none;
}

.nav-menu h1 {
    font-size: 24px;
}

.learn-options {
    display: none;
}

.content {
    width: 100%;
    height: 100vh;
}

.cards img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
}
/* .cards {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    column-gap: 10%;
    height: 100%;
    width: 100%;
} */

.cards {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.card {
    height: 350px;
    max-width: 450px;
    min-height: 150px;
    min-width: 250px;
    box-shadow: 10px 10px 1em black;
    margin: 5px;
}

.card a:hover {
    cursor: pointer;
}

.about {
    height: 100vh;
    margin-bottom: 5px;
}

.about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.about h1 {
    text-align: center;
    font-size: 48px;
}

footer img {
    width: 100%;
}

.social-links i {
    padding: 3px;
    margin: auto 100px;
}

.about h1:nth-child(1) span {
    color: gold;
    background: linear-gradient(100deg,
        rgba(174, 134, 37) 25%, 
        rgb(247, 239, 138) 50%,
        rgb(210, 172, 71) 75%,
        rgb(239, 201, 103) 100%
    ); 
    background-size: 200% auto;
    animation: 1.5s glow infinite linear;  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
   
}

.about h1:nth-child(3) span {
    color: white;
}

.about h1:nth-child(2) span {
    color: white;
}

.about h1:nth-child(4) {
    transform: rotate(90deg);
    animation: 0.8s bounce infinite alternate;
}

.about h1:nth-child(4):hover {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.modal-open {
    background: rgba(255, 255, 255, 0.877);
    justify-self: center;
}

.modal-open:hover {
    cursor: pointer;
}

.modal-open a {
    color: black;
}

.modalWindow {
    background-color: rgba(30, 30, 30, 0.8);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: none;
}

.modalContent {
    width: 60%;
    margin: 20% auto;
    background-color: white;
    display: flex;
}

.homeModal, form {
    display: flex; 
    flex-direction: column;
}
form input, form textarea {
    margin: 5px 5px;
}

form input:nth-child(n+1) {
    width: 20%;
}

textarea {
    resize: vertical;
}
.closeModal:hover {
    cursor: pointer;
}

/* Language and animals */
.main-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-container {
    background-color: var(--color-accent);
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minimax(150px, 1fr));
    gap: 10px;
    padding: 10px;
    overflow: auto;
}

.choice-container img {
    width: 100px;
    height: 100px;
}

.animal {
    text-align: center;
    box-sizing: border-box;
}

.animal img{
    background-color: white;
}

.animal:hover {
    cursor: pointer;
    background-color: lightblue;
}

.animal.selected {
    background-color: gold;
}

.active {
    display: block;
}

.modalWindow button img {
    width: 32x;
    height: 32px;
}

.speech {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@keyframes bounce {
    from {
        transform: translateY(0%) rotate(90deg);
    }
    to {
        transform: translateY(20%) rotate(90deg);
    }
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

@keyframes slide-in {
    from {
        opacity: 80%;
        transform: translateY(-100%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

/* ------Tablet Media screen ------ */
@media screen and (max-width: 1200px) {

}

/* ---- MOBILE MEDIA SCREEN----- */
@media screen and (max-width: 900px) {

    .nav-menu, .nav-back {
        display: block;
        font-size: 24px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        display: block;
    }

    .nav-back {
        float: right;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    .nav-back, .nav-link {
        background-color: white;
    }

    .nav-bar a:nth-child(n+2){
        display: none;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
       /*  grid-template-columns: 2fr 1fr; */
    }

    .menu {
        visibility: hidden;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: -100vh;
        left: 0;
        background-color: gold;
        z-index: 4;
        font-weight: bolder;
        transition: top 1.2s ease-out;
    }

    .show {
        visibility: visible;
        top: 0;
    }

    .menu-container {
        height: 100%;
        width: 100%;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        height: 100%;
        width: 100%;
    }

    .menu-links a {
        color: black;
        margin-top: 2rem;
    }
}