*, *::before, *::after {
    box-sizing: border-box;  
}

html {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

/*-------Grid------ */
img{ 
    display: block;
    height: 100%;
    width: 100%; 
}

.grid-container {
    display: grid;
    grid-template-columns:  auto auto;
    margin: 20px auto;
    background-color: rgb(120, 20%, 210);
    box-shadow: 1px 1px 3px gray;
}

.img-container {
    margin: 10px;
    border: solid black 2px;
}

/*-------Media Query---------*/
@media screen and (max-width: 1200px) {
    .grid-container {
        background-color: pink;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 900px) {
    .grid-container {
        background-color: coral;
        width: 80%;
        grid-template-columns: auto;
    }

    .content {
        grid-column: span 2;
    }
    
    .blog {
        grid-column: span 3;
    }
}
/*--------- Smartphone view -------*/
@media screen and (max-width: 600px) {
    .nav-menu {
        grid-column: span 3;
    }

    .content {
        grid-column: span 3;
    }
    
    .blog {
        grid-column: span 3;
    }
    
}

/*-------Main container ------- */
.header-container {
    background-color: palegreen;
    color: white;
    display: flex;
    width: 100%;
}

.header-container > div {
    padding: 20px;
}


.header-container > div:nth-child(3) {
    margin-left: auto;
}

.intro-container {
    display: grid;
    height: 300px;
    grid-template-columns: 20% 50% 30%;
}

.footer {
    background-color: seagreen;
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav-menu {
    background-color: pink;
}

.content {
    background-color: blue;
}

.blog {
    background-color: green;
}

.footer {
    background-color: rgb(50, 20, 50);
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
}

footer > div {
    border: solid pink 2px;
}



